<html>
<meta charset="UTF-8">
<head>
<link rel='stylesheet' type='text/css' href='../styles/main.css'>
</head>
<body>
<div class="interactionwindow">
<p class="addEventHeader">Dodaj wydarzenie</p>
<p class="addEventElement"><b>Tytuł:</b> <input type="text" id="text" maxlength="100"/> (max. 100 znaków)</p>
<p class="addEventElement"><b>Szczegóły:</b> (max.320 znaków):<br><textarea style="resize:none" rows="8" cols="40" maxlength="320" id="details"></textarea></p>
<p class="addEventElement"><b>Przedmiot:</b> <input type="text" id="subject" /></p>
<center><div class="addEventCoveredClasses">
<p><b>Klasy objęte wydarzeniem:</b></p>
<p>
<input type="checkbox" id="classes" value="1alfa" /> 1 alfa<br>
</p>
</div>
<div class="addEventDate">
<p><b>Data wydarzenia:</b></p>
<p class="addEventDateElement">Dzień: <input style="width:50px;" type="text" id="dateday" maxlength="2"/></p>
<p class="addEventDateElement">Miesiąc: <input style="width:50px;" type="text" id="datemonth" maxlength="2"/></p>
<p class="addEventDateElement">Rok: <input style="width:50px;" type="text" id="dateyear" maxlength="4"/></p>
</div>
</center>
<button class="addEventConfirm" onclick="addevent()">Gotowe</button>
<button class="addEventCancel" onclick="$('div.addcontent').hide()">Anuluj</button>
</div>
</body>
</html>