body
{
	background-image: url('../images/adve/cork-1193770.jpg');
	background-size:auto;
}
div#container
{
	margin:10px auto 10px auto;
	padding:20px;
	overflow: auto;
}
div#leftBelt
{
	float:left;
	width:300px;
	background-color: #FFFFFF;
	padding:10px;
}
div#addAdveButton
{
	background-color: #DDDDDD;
	padding: 5px;
	cursor: pointer;
	font-size: 16px;
}
div.yourAdve
{
	margin-left: 10px;
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	max-width:290px;
}
div.adveItself
{
	display: inline-block;
	vertical-align: top;
	margin: 20px;
	padding: 10px;
	width:300px;
}
div.classAdve
{
	background-color: #91B8FF;
}
div.groupAdve
{
	background-color: #C0FF9C;
}
div.adveItselfHeader
{
	font-size: 24px;
	letter-spacing: -1px;
	margin-bottom: 10px;
	background-color: rgba(255,255,255,.5);
	padding: 5px;
}
div.adveItselfText
{
	font-size: 18px;
}
div.adveItselfScope
{
	margin-top: 10px;
	text-align: right;
	font-size: 12px;
}
div.adveItselfMeta
{
	text-align: right;
	font-size: 12px;
}
img.adveSwitch
{
	float: right;
	height:40px;
	margin-top: 0px;
}
img#newAdveSwitch
{
	height:40px;
	margin-top: -3px;
}
div#addContent
{
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	z-index: 100;
	display: none;
}
div#interactionWindow
{
	background-color: #FFFFFF;
	width:500px;
	margin: auto;
	padding: 20px;
	font-size: 16px;
}
div#addAdvertHeader
{
	font-size: 36px;
}
div#newAdveChooseClassesList
{
	overflow: auto;
	height:150px;
}
div#newAdveChooseGroupsList
{
	overflow: auto;
	height:150px;
	display: none;
}
div#doUpdateDiv
{
	position: absolute;
	top:0px;
	right:0px;
	padding: 5px;
}
span.adveActions
{
	display: none;
	font-size:14px;
	cursor: pointer;
}
textarea
{
	width:472px;
	height:80px;
	resize:none;
	font-family:'Trebuchet MS';
}